@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-semibold  md:text-6xl text-primary;
  }
  h2 {
    @apply text-2xl font-semibold  md:text-5xl text-primary;
  }
  h3 {
    @apply text-xl  md:text-4xl font-bold text-primary;
  }
  h4 {
    @apply text-lg md:text-3xl font-medium;
  }
  h5 {
    @apply text-sm md:text-2xl font-medium;
  }
  h6 {
    @apply text-sm md:text-xl font-medium;
  }

  p {
    @apply leading-relaxed font-medium md:text-xl text-sm;
  }

  @font-face {
    font-family: "PingARLT";
    src: url("/app/assets/fonts/PingARLT-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "PingARLT";
    src: url("/app/assets/fonts/PingARLT-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "PingARLT";
    src: url("/app/assets/fonts/PingARLT-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
}

@layer components {
  .animated-path {
    @apply animate-[dash_3s_linear_forwards];
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }

  .scroller {
    @apply w-fit overflow-hidden; /* max-w-md maps to 400px in Tailwind's default config */
  }

  .scroller__inner {
    @apply p-4 flex flex-wrap items-center  justify-center gap-4; /* Maps to padding-block: 1rem, display: flex, flex-wrap: wrap, gap: 1rem */
  }

  .scroller[data-animated="true"] {
    @apply overflow-hidden;
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
  }

  .scroller[data-animated="true"] .scroller__inner {
    @apply max-w-fit;
    flex-wrap: nowrap; /* Ensures the items stay in a single line for scrolling */
    animation: scroll 10s linear infinite;
  }

  @keyframes scroll {
  
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}

:root {
  color-scheme: light;
  font-family: PingARLT, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: black;
  background-color: #F2F4F7;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  @apply bg-white overflow-x-hidden scroll-smooth;
  @media (prefers-color-scheme: light) {
    color-scheme: light;
  }
}
